.glowbtn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  background: transparent;
  color: #fff;
  display: block;
  height: 60px;
  width: 90px;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.glowbtn:hover {
  height: 60px;
  width: 90px;
  cursor: pointer;
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* glow bottun active */
.glowbtn_active {
  height: 60px;
  width: 90px;
  display: block;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  background: rgb(61, 106, 255);
  border: 1px solid rgb(61, 106, 255);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.glowbtn_active:hover {
  height: 60px;
  width: 90px;
  cursor: pointer;
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}